
@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&family=Heebo:wght@400;900&family=Satisfy&family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: transparent linear-gradient(180deg, #281EFF 0%, #2DFF8C 100%) 0% 0% no-repeat
     padding-box ;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.contanier{
    display: block;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 100px;
    width: 1100px;
    height: 407px;
    text-align: center;
    opacity: 1;
}
.form
{
   display: flex;
   flex-direction: row;
   width:100%;
   height:73px;
   margin-top: 30px;
    justify-content: right;
    text-align: right;
   direction: rtl;
}


.contanier h1{
    
    font-family: 'Satisfy',cursive;
    margin:0;
    font-size: 160px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-shadow: 0px 0px 36px #00000087;
    
}
.contanier h3{
    text-align: center;
    font: normal normal normal 32px Varela Round;
    font-size: 32px;
    color: #FFFFFF;
}
.contanier p{
    text-align: center;
font: normal normal normal 16px/20px Varela Round;
letter-spacing: 0px;
color: #F9F9F9;
opacity: 1;
}

.form label{
    top: 671px;
left: 1486px;
width: 24px;
height: 20px;
margin-left: 430px;
direction: rtl;
text-align: center;
font: normal normal normal 16px/20px Varela Round;
letter-spacing: 0px;
color: #F9F9F9;
opacity: 1;
}

.box {
    background: #F6F6F624 0% 0% no-repeat padding-box;
border: 2px solid #FFFFFF;
    width: 418px;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-left:50px;
    justify-content: right;
}

#submit{
  width: 100%;
margin-top: 18px;
height: 40px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: none;
color:#1C1C1C ;
font-family: 'Varela Round';
font-weight: 400;
font-size: 15px;
}

@media (width < 850px){
    .contanier{
        width: 700px;
        height: 700px;
        align-items: center;
        text-align: center;
        
        
    }
    .contanier h1{
        width:100%;
        font-size: 100px;
    }
    .contanier h2{
        width: 100%;
        font-size: 60px;

    }
    .contanier p{
        width: 550px;
        font-size: 16px;
        margin-top: 10px;
        margin-left: 70px;
        
    }
    .form{
        width: 60%;
        height: 600px;
        display: flex;
        margin-top: 70px;
        flex-direction: column;
        position: absolute;
        left:250px; 
        gap: 10px;

    }
    .box{
        width:100%;
        height: 40px;

    }
    #submit{
        color:#2823FD;
    }
}